body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error-msg {
  color: red;
  font-style: italic;
}

.right-margin {
  margin-right: 1em !important;
}

button:disabled {
  opacity: 0.3;
}

.margin-medium-above {
  margin-top: 1.5em !important;
}

.margin-small-below {
  margin-bottom: 1em !important;
}

.margin-very-small-below {
  margin-bottom: .5em !important;
}

.margin-very-small-above {
  margin-top: .5em !important;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.fill {
  flex:1;
}

.vertical-centered {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.horizontally-centered {
  text-align: center;
}

.right {
  margin-left: auto;
}

.larger-text {
  font-size: 1.5rem;
}

.cursive-font {
  font-family: 'Berkshire Swash', Helvetica, sans-serif;
}

.bootstrap-form-group {
  margin-bottom: 1rem;
}

.bootstrap-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.bootstrap-label {
  display: inline-block !important;
  margin-bottom: 0.5rem !important;
}

.bootstrap-h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.reduced-width {
  width: 10% !important;
}

.slight-off-corner {
  margin-left: 2rem !important;
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}

.wrap {
  display: flex;
}

.left-half {
  display: table;
  position: absolute;
  width: 50%;
  left: 0px;
  height: 84%;
}

.right-half {
  display: table;
  position: absolute;
  width: 50%;
  right: 0px;
  height: 84%;
}

.rounded-corners {
  border-radius: 0.5rem;
}

.shadowed {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.chart-center {
  margin-left: auto;
  margin-right: auto;
}

div > canvas {
  display: inline-block !important;
}

.inline {
  display:inline;
}

.side-margins {
  margin-left: 1rem;
  margin-right: 1.1rem;
}

.thin-border {
  border-style: dotted;
  border-width: 1px;
}