body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error-msg {
  color: red;
}

.right-margin {
  margin-right: 1em;
}

#username, #pw {
  width: 25%;
}

.centered {
  text-align: center;
}